Language                                       : Cpp
# BasedOnStyle                                 : Linux
AccessModifierOffset                           : -1
AlignAfterOpenBracket                          : Align
AlignConsecutiveMacros                         : true
AlignConsecutiveAssignments                    : true
AlignConsecutiveDeclarations                   : true
AlignEscapedNewlines                           : Right
AlignOperands                                  : true
AlignTrailingComments                          : true
AllowAllArgumentsOnNextLine                    : false
AllowAllConstructorInitializersOnNextLine      : false
AllowAllParametersOfDeclarationOnNextLine      : false
AllowShortBlocksOnASingleLine                  : true
AllowShortCaseLabelsOnASingleLine              : true
# Clang 12 AllowShortEnumsOnASingleLine                   : true
AllowShortFunctionsOnASingleLine               : All
AllowShortLambdasOnASingleLine                 : All
AllowShortIfStatementsOnASingleLine            : Never
AllowShortLoopsOnASingleLine                   : false
AlwaysBreakAfterReturnType                     : None
AlwaysBreakBeforeMultilineStrings              : true
AlwaysBreakTemplateDeclarations                : Yes
BinPackArguments                               : false
BinPackParameters                              : false
BraceWrapping                                  :
  AfterCaseLabel                               : false
  AfterClass                                   : true
  AfterControlStatement                        : false
  AfterEnum                                    : false
  AfterFunction                                : true
  AfterNamespace                               : true
  AfterObjCDeclaration                         : false
  AfterStruct                                  : false
  AfterUnion                                   : true
  AfterExternBlock                             : false
  BeforeCatch                                  : false
  BeforeElse                                   : false
  IndentBraces                                 : false
  SplitEmptyFunction                           : false
  SplitEmptyRecord                             : false
  SplitEmptyNamespace                          : false
BreakBeforeBinaryOperators                     : All
BreakBeforeBraces                              : Custom
BreakInheritanceList                           : BeforeComma
BreakBeforeTernaryOperators                    : true
BreakConstructorInitializers                   : BeforeComma
BreakAfterJavaFieldAnnotations                 : true
BreakStringLiterals                            : true
PenaltyBreakBeforeFirstCallParameter           : 1
PenaltyBreakComment                            : 1
PenaltyBreakFirstLessLess                      : 1
PenaltyBreakString                             : 1
PenaltyBreakTemplateDeclaration                : 1
PenaltyExcessCharacter                         : 1000000
PenaltyReturnTypeOnItsOwnLine                  : 1000000
PointerAlignment                               : Left
ReflowComments                                 : true
SortIncludes                                   : true
SortUsingDeclarations                          : true
SpaceAfterCStyleCast                           : false
SpaceAfterLogicalNot                           : false
SpaceAfterTemplateKeyword                      : true
SpaceBeforeAssignmentOperators                 : true
SpaceBeforeCpp11BracedList                     : true
SpaceBeforeCtorInitializerColon                : true
SpaceBeforeInheritanceColon                    : true
SpaceBeforeParens                              : ControlStatements
SpaceBeforeRangeBasedForLoopColon              : true
SpaceInEmptyParentheses                        : false
SpacesBeforeTrailingComments                   : 2
SpacesInAngles                                 : false
SpacesInContainerLiterals                      : true
SpacesInCStyleCastParentheses                  : false
SpacesInParentheses                            : false
SpacesInSquareBrackets                         : false
IndentCaseBlocks                               : true
IndentCaseLabels                               : true
Standard                                       : Auto
StatementMacros                                :
  - Q_UNUSED
  - QT_REQUIRE_VERSION
TabWidth:        4
UseTab:          Never
ColumnLimit: 0